<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <title>Booking for {{competition.name}} || GUDLFT</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center h-screen">
        <h2>{{competition['name']}}</h2>
        Places available: {{competition['numberOfPlaces']}}
        <form class="card bg-neutral shadow-xl p-8 w-96 gap-2" action="/purchaseplaces" method="post">
            <input type="hidden" name="club" value="{{club['name']}}">
            <input type="hidden" name="competition" value="{{competition['name']}}">
            <label class="label" for="places">How many places?</label>
            <input class="input input-bordered input-sm" type="number" name="places" id="" value=1 min=1 max="{{max}}"/>
            <button class="btn btn-sm btn-primary" type="submit">Book</button>
        </form>
        <a class="btn btn-sm btn-primary" href="{{url_for('summary')}}">Back</a>
    </div>
</body>
</html>